In [1]:
import pandas as pd
import numpy as np
import regex as re
df1 = pd.read_pickle('2013-2023_plays.pkl')

In [24]:
df_punts = df1[(df1['punt_attempt']==1) & (df1['punt_blocked']==0)]

In [25]:
df_punts = df_punts[['yardline_100','return_yards','touchback','kick_distance']]

In [26]:
df_punts['new_yardage'] = np.where(df_punts['touchback']==1,80,100-(df_punts['yardline_100']-df_punts['kick_distance']+df_punts['return_yards']))

In [27]:
df_punts

        yardline_100  return_yards  touchback  kick_distance  new_yardage
10              49.0           0.0        1.0           49.0         80.0
21              39.0           0.0        0.0           27.0         88.0
100             71.0           1.0        0.0           57.0         85.0
112             60.0           0.0        0.0           43.0         83.0
156             54.0           0.0        0.0           44.0         90.0
...              ...           ...        ...            ...          ...
529780          45.0           0.0        0.0           43.0         98.0
529785          89.0           0.0        0.0           53.0         64.0
529789          65.0           0.0        0.0           51.0         86.0
529803          75.0           7.0        0.0           55.0         73.0
529807          65.0           0.0        0.0           46.0         81.0

[25845 rows x 5 columns]

In [28]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

X = df_punts[['yardline_100']]
y = df_punts['new_yardage']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
rf_model = RandomForestRegressor(n_estimators=1000, random_state=42)
rf_model.fit(X_train, y_train)
y_pred = rf_model.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R-squared:", r2)

Mean Squared Error: 90.92474033338233
Mean Absolute Error: 6.6113886218570395
R-squared: 0.5710831900083961

In [34]:
import pickle

with open('punt_yardage_model.pkl', 'wb') as file:
    pickle.dump(rf_model, file)

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Assuming you have your data in a pandas DataFrame called 'punt_data'
# 'punt_data' should have columns for 'yardline_100' and 'punt_in_endzone'

# Separate the features (X) and the target variable (y)
X = df_punts[['yardline_100']]
y = df_punts['touchback']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model
rf_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

# Evaluate the model's performance
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

# Make predictions on new data
new_data = [[80]]  # Example: yardline_100 = 80
predicted_probabilities = rf_classifier.predict_proba(new_data)
print("Predicted Probabilities:", predicted_probabilities)

Accuracy: 0.9332559489262914
Precision: 0.0
Recall: 0.0
F1 Score: 0.0
Predicted Probabilities: [[1. 0.]]

/Users/ilanb/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ilanb/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [33]:
df_punts[df_punts['touchback']==1]

        yardline_100  return_yards  touchback  kick_distance  new_yardage
10              49.0           0.0        1.0           49.0         80.0
164             59.0           0.0        1.0           59.0         80.0
243             44.0           0.0        1.0           44.0         80.0
358             59.0           0.0        1.0           59.0         80.0
614             49.0           0.0        1.0           49.0         80.0
...              ...           ...        ...            ...          ...
528206          48.0           0.0        1.0           48.0         80.0
529133          49.0           0.0        1.0           49.0         80.0
529208          66.0           0.0        1.0           66.0         80.0
529463          74.0           0.0        1.0           74.0         80.0
529623          55.0           0.0        1.0           55.0         80.0

[1756 rows x 5 columns]